@font-face {
    font-family: "fuenteB";
    src: url("../Fuentes/Trunkmill Oblique.ttf");
}


@font-face {
    font-family: "fuenteV";
    src: url("../Fuentes/Cocogoose Pro Semilight Italic-trial.ttf");
}

@font-face {
    font-family: "fuenteC";
    src: url("../Fuentes/coolvetica.otf");
}

@font-face {
    font-family: "fuenteP";
    src: url("../Fuentes/RomanSerif.ttf");
}



@font-face {
    font-family: "fuenteH";
    src: url("../Fuentes/Harabara Mais Demo.otf");
}

@font-face {
    font-family: "fuenteCRG";
    src: url("../Fuentes/coolvetica rg.otf");
}
